.status-block {
    padding: 20px 0;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    position: relative;
    overflow: hidden;
    color: var(--mdc-theme-text-primary-on-background);
    background: var(--mdc-theme-surface);

    img {
        height: 100px;

        @media screen and (max-width: 500px) {
            height: 70px;
        }
    }

    @media screen and (max-width: 500px) {
        padding: 40px 0;
        margin: 0;
    }
}