.app {
    height: 100%;
    box-sizing: border-box;
    padding: 40px 80px;
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}