.app {
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        .app__headline {
            color: var(--mdc-theme-text-primary-on-background);
        }

        @media screen and (max-width: 500px) {
            padding: 0;

            .app__headline {
                display: none;
            }
        }
    }

}