.favorite-page {
    $self: &;

    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    &__item {
        color: var(--mdc-theme-text-primary-on-background);
        background: var(--mdc-theme-surface);
        margin: 20px auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        max-width: 200px;

        img {
            height: 200px;
        }

        #{$self}__item-weather-text {
            text-align: center;
        }
    }
}