.weather-page {
    $self: &;
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-content: center;    
    
    &__header {
        position: unset !important;
        
        #{$self}__text-field {
            margin-left: 10px;
            background: white;
            border-radius: 5px;

            .mdc-text-field {
                height: 45px;

                i {
                    top: 10px;
                }
            }
        }

        #{$self}__search-options {
            margin-top: 60px;
            color: var(--mdc-theme-text-primary-on-background);
            background: var(--mdc-theme-surface);
            position: absolute;
            width: 100%;
            z-index: 1;
            max-height: 238px;
            overflow-y: auto;
                
            #{$self}__list-item {
                border-bottom: 1px solid #9e9e9e;
            }
        }
        #{$self}__search-options--disabled {
            display: none;
        }
    }

    &__content {
        margin: auto;
        max-width: 1000px;
        width: 100%;
        padding: 20px;
        max-height: inherit;
        display: flex;
        justify-content: center;
        flex-direction: column;
        box-sizing: border-box;
        flex: 1;
        
        #{$self}__content-header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            
            #{$self}__unit-change {
                button:nth-child(2) {
                    margin-left: 10px;
                }
            }
            #{$self}__content-actions {
                display: flex;
                align-items: center;

                button {
                    margin-left: 10px;
                }
            }
        }

        #{$self}__current-day-status {
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            img {
                height: 250px;
            }
            div {
                color: var(--mdc-theme-text-primary-on-background);
                flex: 1;

                @media screen and (max-width: 500px) {
                    flex-direction: column;
                    display: flex;
                    align-items: center;
                }
            }

            @media screen and (max-width: 500px) {
                flex-direction: column;
                margin-bottom: 60px;
            }
        }

        @media screen and (max-width: 500px) {
            padding: 0;
        }
    }

    &__week-status-container {
        display: flex;
    }
}

.mdc-drawer__content {
    height: auto !important;
}